.activity-item {
  margin-top: .5rem;
}
.sting-button {
  background: $yellow;
  color: $grey;
  font-weight: bold;
}
.activity-image {
  min-width: 100vw;
  min-height: 30vh;
  background-color: $black;
}
