.activity-item {
  margin-top: .5rem;
}
.sting-button {
  background: $yellow;
  color: $grey;
  font-weight: bold;
}
.activity-image {
  min-width: 100vw;
  min-height: 30vh;
  background-color: $black;
}
.chat-button {
  background: $lightgrey;
}
.sting-col {
  background: $yellow;
}
.chat-col {
  background: $lightgrey;
}

.grey-row{
  background: #b2b0af;
  text-align: center;
}

.yellow-button {
  background: #fce600;
  color: black;
}