.main-container {
  background-color: $grey;
  flex: 1;
  min-height: 100vh;
  max-width: 100vw;
  padding-right: 1rem;
  padding-left: 1rem;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.honeycomb {
-webkit-transform:  translate(40%, 20%);
transform: translate(40%, 20%);
}
.cat-choose {
  font-weight: bold;
  font-size: 1.1rem;
  color: #fff;
  letter-spacing: .2rem;
}


.continue-button {
  background-color: $yellow;
  color: #404241;
  letter-spacing: .2rem;
  font-weight: bold;
}
