//import all our consts
@import "base/variables";

//import foundation stuff
@import "base/foundation-settings";
@import "foundation";
@include foundation-everything;

//flex grid stuff
@include foundation-flex-classes;
@include foundation-flex-grid;

//TODO Move general styles to component
.top-bar{
  height: 3rem;
  background: $grey;
}

.translucent-component{
	background-color: rgba(64,66,65,0.5) !important;
}


//components
@import "components/appmenu";
@import "components/activecategories";
@import "components/activitylist";
@import "components/activityitem";
@import "components/categoryscreen";
@import "components/loginscreen";
@import "components/modal"